---
//@ts-nocheck
import "../../styles/style.css";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Knap from "../../components/Knap.astro";

const { opskrift } = Astro.props;

export async function getStaticPaths() {
  const url =
    "https://hwgzlgazuaajliatunzr.supabase.co/rest/v1/opskrifter?select=*";

  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3Z3psZ2F6dWFhamxpYXR1bnpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3ODc1OTEsImV4cCI6MjA2MjM2MzU5MX0.i1LfAfWnKTMG6FzdOw_OZsv5GtyewT5WMFZRMvnrGko";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const data = await fetch(url, options).then((res) => res.json());

  console.log("Data fra Supabase:", data);
  return data.map((opskrift) => {
    return {
      params: { slug: opskrift.opskrift_slug },
      props: { opskrift },
    };
  });
}
/*
1. Splitter ingredienser-teksten ved linjeskift (\n), så vi får en liste (array).
2. Fjerner tomme linjer med .filter() og .trim().
trim() fjerner mellemrum i starten og slutningen af teksten.
!== '' betyder “hvis linjen ikke er tom”.
*/
const ingredienser = opskrift.opskrift_ingredienser
  .split("\n")
  .filter((ingrediens) => ingrediens.trim() !== "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lalezar&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
    <Header />
    <main>
      <section class="intro_section">
        <div class="ramme">
          <h1>{opskrift.opskrift_titel}</h1>
          <img
            src={`/imgs/${opskrift.opskrift_img}`}
            alt="img_opskrift"
            class="img_opskrift"
          />
          <div class="knapper">
            <div class="knap_intro">
              <h3 class="fakta">{opskrift.opskrift_type}</h3>
            </div>
            <div class="knap_intro">
              <h3 class="fakta">{opskrift.opskrift_varighed}</h3>
            </div>
            <div class="knap_intro">
              <h3 class="fakta">
                <button class="person-knap" onclick="ændrAntal(-1)">−</button>
                <span id="antal-personer">4</span> personer
                <button class="person-knap" onclick="ændrAntal(1)">+</button>
              </h3>
            </div>
          </div>
        </div>
      </section>

      <section class="beskrivelse_section">
        <div class="ramme">
          <h2>Beskrivelse:</h2>
          <p>{opskrift.opskrift_beskrivelse}</p>
          <a href="#video_section">
            <Knap variant="tilmeld">Gå til video her!</Knap>
          </a>
          <div class="border"></div>
        </div>
      </section>
      <section class="fremgang_section">
        <div class="ramme">
          <div class="indhold_med_ikoner">
            <div class="svg_ikoner">
              <div class="skaerm_taendt">
                <div class="skiftContainer" id="skift">
                  <img
                    src="/../imgs/cirkel_t_ikon.svg"
                    alt="cirkel"
                    class="cirkel_t_ikon"
                  />
                </div>
                <p>Hold skærmen tændt</p>
              </div>

              <div class="favorit_ikon">
                <img src="/../imgs/hjerte.svg" class="like" alt="hjerte" />
                <p>Føj til mine favoritter</p>
              </div>
            </div>
          </div>
          <div class="fremgang_div">
            <div class="ingredienser_boks">
              <h2>Ingredienser:</h2>
              <ul>
                {
                  /*
                 Går igennem hver ingrediens i array’et og viser den som et <li>.
                 'index' er positionen i array’et (0, 1, 2...) og bruges som 'key'.
                */
                }
                {
                  ingredienser.map((ingrediens, index) => (
                    <li key={index}>{ingrediens}</li>
                  ))
                }
              </ul>
            </div>
            <div class="fremgangsmade_boks">
              <h2>Fremgangsmåde:</h2>
              <p>{opskrift.opskrift_fremgang}</p>
            </div>
          </div>
          <div class="border"></div>
        </div>
      </section>

      <section id="video_section">
        <div class="ramme">
          <h2 class="større_h2">Kom i køkkenet med Umut!</h2>
          <div class="video_wrapper">
            <iframe
              width="100%"
              height="auto"
              src={opskrift.opskrift_video}
              title="YouTube video af opskrift"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="border"></div>
        </div>
      </section>
      <section class="anmeldelser_section">
        <div class="ramme">
          <h2 class="større_h2">Hvad andre synes!</h2>

          <div class="carousel-wrapper">
            <div class="alle_anmeldelser">
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Anette</h3>
                <p class="anmeldelse">
                  "Jeg har aldrig været så glad for at lave mad, som jeg er nu.
                  Tak Umut!"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Mogens</h3>
                <p class="anmeldelse">
                  "Super opskrift! Det smagte fantastisk og var super nemt at
                  lave!"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Henriette</h3>
                <p class="anmeldelse">
                  "Mine børn elsker det! De vil gerne have det hver dag. Tak
                  Umut!"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Sarah</h3>
                <p class="anmeldelse">
                  "Du har gjort det igen Umut! Fantastisk opskrift. De smager
                  himmelsk"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Kenneth</h3>
                <p class="anmeldelse">
                  "5/5 stjerner. Mega lækker opskrift og ideel til at have med
                  på farten"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Camilla</h3>
                <p class="anmeldelse">
                  "Jeg elsker dine opskrifter. Nem ret og smager skønt"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Lukas</h3>
                <p class="anmeldelse">
                  "Tak for opskriften. Vi er vilde med den herhjemme:)"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Anna-Sofie</h3>
                <p class="anmeldelse">
                  "Har prøvet flere forskellige opskrifter til denne ret, men
                  dette er da en sikker vinder"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Joakim</h3>
                <p class="anmeldelse">
                  "Smager skønt, og så er opskriften lige til at gå til! MUMS
                  MUMS MUMS"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Carsten</h3>
                <p class="anmeldelse">
                  "Tak for lækker mad Umut! Konen er glad, og det er min mave
                  også"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Monika</h3>
                <p class="anmeldelse">
                  "Fantastisk lækker opskrift som altid Umut!"
                </p>
              </div>
              <div class="anmeldelser">
                <h3 class="navne_anmeldelser">Kasper</h3>
                <p class="anmeldelse">
                  "Masser af smag, nem opskrift og bare lækkert!! Tak for den
                  gode opskrift."
                </p>
              </div>
            </div>
          </div>

          <div class="border"></div>
        </div>
      </section>

      <section class="kommentar_section">
        <div class="ramme">
          <div class="kommentar_felt">
            <h2 class="større_h2">Hvad synes du om opskrifterne?</h2>
            <p class="intro_t_kommentar">
              Skriv her, hvad du synes om opskriften, eller om du gjorde noget
              andet, som også fungerede over forventning, så jeg og andre kan få
              tips og tricks.
            </p>
            <form class="kommentar_form">
              <div class="mindste_kasser">
                <input
                  type="text"
                  id="navn"
                  name="navn"
                  placeholder="Dit navn"
                  required
                />

                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  required
                />
              </div>

              <textarea
                id="kommentar"
                name="kommentar"
                rows="5"
                placeholder="Skriv din kommentar her..."
                required></textarea>
            </form>
            <p class="knap_send">Send</p>
          </div>
        </div>
      </section>
    </main>

    <Footer />
    <!-- Flyt denne HELT nederst før </html> -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const skiftContainer = document.getElementById("skift");
        if (skiftContainer) {
          skiftContainer.addEventListener("click", () => {
            skiftContainer.classList.toggle("switch-on");
          });
        }
      });
    </script>
    <script>
      // Fortæl TypeScript om den globale funktion med nedenstående sætning
      declare global {
        interface Window {
          ændrAntal: (ændring: number) => void;
        }
      }
      let antal = 4;
      // Start med 4 personer, som er standardværdien

      // Funktion til at ændre antallet af personer
      window.ændrAntal = function (ændring: number) {
        const nyAntal = antal + ændring;
        if (nyAntal >= 1) {
          antal = nyAntal;
          document.getElementById("antal-personer")!.textContent =
            antal.toString();
        }
      };
      // ved at sætte "!" efter getElementById, fortæller vi TypeScript, at vi er sikre på, at elementet findes.
    </script>
  </body>
</html>

<style>
  /* -------MOBIL FORMAT------- */

  /* FONTE */
  h1 {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    padding: 7px 0px;
  }
  .større_h2 {
    font-size: 30px;
    text-align: center;
  }
  .fakta {
    font-size: 14px;
    text-align: center;
  }
  p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .anmeldelse {
    font-style: italic;
    text-align: center;
  }
  a {
    font-size: 13px;
    font-family: "Lora";
  }
  /* FONTE */
  .img_opskrift {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block; /* vigtigt for at margin: auto virker på img */
    margin: 0 auto; /* centrerer billedet vandret */
  }
  .knapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1rem 0 2rem 0rem;
  }
  .knap_intro {
    background-color: var(--brun);
    border-radius: 10px;
    padding: 10px 25px;
    width: 200px;
  }

  .person-knap {
    background-color: var(--skrift);
    color: var(--baggrund);
    border: none;
    font-size: 12px;
    padding: 2px 6px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .person-knap:hover {
    background-color: var(--baggrund);
    color: var(--skrift);
  }

  .beskrivelse_section,
  .fremgang_section,
  .anmeldelser_section {
    margin: 2rem 0rem;
  }
  .knap_t_video {
    background-color: var(--skrift);
    color: var(--baggrund);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
  }
  .knap_t_video:hover {
    background-color: var(--skrift);
    color: var(--baggrund);
    border-radius: 10px;
    border: 2px solid var(--brun);
    padding: 10px 25px;
    cursor: pointer;
  }
  .knap_video {
    margin: 30px 0px;
  }
  .border {
    border: 1px solid var(--brun);
    width: 100%;
    margin: 2rem auto;
  }
  :root {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .svg_ikoner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0px 25px 0px;
  }
  .indhold_med_ikoner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .skaerm_taendt,
  .favorit_ikon {
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
  }
  .like {
    content: url("/imgs/hjerte.svg");
    transition: content 0.3s;
  }
  .like:hover {
    content: url("/imgs/hjerte_fyldt.svg");
  }

  .skiftContainer {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--skrift);
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  /* Cirklen */
  .cirkel_t_ikon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    transition: all 0.3s ease;
  }

  /* Aktiveret tilstand */
  .switch-on .cirkel_t_ikon {
    left: 28px;
  }
  /* Switch baggrund (knap) */
  .skiftContainer.switch-on {
    background-color: var(--oplev);
  }
  .ingredienser_boks {
    background-color: var(--brun);
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-family: lora;
    font-size: 13px;
    color: var(--skrift);
    list-style-position: inside;
    /* list-style-position gør, at punktformen (•) placeres inden for boksen, sammen med teksten.

 */
  }
  /*At bruge en responsiv wrapper omkring <iframe> betyder det, at man lægger <iframe>-elementet ind i en <div>, som styrer størrelsen og proportionerne (aspect ratio) */
  .video_wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* padding-bottom: 56.25% skaber højde baseret på bredden (16:9 = 9/16 = 0.5625). */
    height: 0;
    overflow: hidden; /* skjuler alt indhold, der går uden for containeren */
    border-radius: 10px;
  }
  .video_wrapper iframe {
    position: absolute; /* gør, at iframe placeres oven på video_wrapper */
    top: 0; /*At sætte top: 0 og left: 0 betyder: Start placeringen af iframe i øverste venstre hjørne af wrapperen. */
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .anmeldelser {
    padding: 10px;
    margin-top: 15px;
  }
  .knap_send {
    display: inline-block; /* gør den kun så bred som indholdet */
    font-family: playfair display;
    background-color: var(--skrift);
    color: var(--baggrund);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 12px 0px;
    cursor: pointer;
  }
  .knap_send:hover {
    background-color: var(--skrift);
    color: var(--baggrund);
    border-radius: 10px;
    border: 2px solid var(--brun);
  }

  .kommentar_section {
    background-color: var(--baggrund);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .mindste_kasser {
    display: flex;
    gap: 10px;
  }

  .kommentar_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
  }
  .kommentar_form input,
  .kommentar_form textarea {
    padding: 10px;
    border: 1px solid var(--brun);
    border-radius: 8px;
    font-family: "Lora";
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .kommentar_form input::placeholder,
  .kommentar_form textarea::placeholder {
    color: #888; /* grå farve */
    font-size: 13px;
    font-family: "Lora";
  }

  /* ILLUSTRATIONER MOBIL */
  .intro_section {
    background-image:
      url(/singleview_svg/tomat.svg), url(/svg_forside/aert_foraarsloeg.svg);
    background-position:
      left -0% bottom 10%,
      right -50% bottom 2%;
    background-repeat: no-repeat, no-repeat;
    height: auto;
    width: 100%;
    background-size: 110px, 240px; /* eller fx 50%, contain, eller cover */
  }
  .fremgang_section {
    background-image:
      url(/singleview_svg/stor_gul_citron.svg),
      url(/singleview_svg/gul_citron.svg);

    background-position:
      left -2% bottom -5%,
      right -2% bottom 60%;
    background-repeat: no-repeat, no-repeat;
    height: auto;
    width: 100%;
    background-size: 70px, 80px; /* eller fx 50%, contain, eller cover */
  }
  #video_section {
    background-image: url(/singleview_svg/chili.svg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: 100px;
  }
  .anmeldelser_section {
    background-image: url(/singleview_svg/roed_tomat.svg);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: 80px;
  }
  .kommentar_section {
    background-image:
      url(/singleview_svg/tomat_2.svg), url(/singleview_svg/artiskok.svg),
      url(/svg_forside/aert_foraarsloeg.svg);
    background-position:
      right -2% bottom 100%,
      left -2% bottom 40%,
      right -5% bottom 0%;
    background-repeat: no-repeat, no-repeat;
    height: auto;
    width: 100%;
    background-size: 70px, 90px, 190px;
  }
  /* ILLUSTRATIONER MOBIL SLUT */

  /* karusel til kommentarer */
  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }
  .alle_anmeldelser {
    display: flex;
    width: max-content; /* Sørger for at bredden passer til antal anmeldelser */
    animation: scroll 60s linear infinite;
  }
  .anmeldelser {
    width: 250px;
    margin-right: 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .intro_t_kommentar {
    text-align: center;
  }

  /* Animationen */
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* ------MOBILE SLUT-------- */

  /* ------DESKTOP FORMAT------ */

  @media (min-width: 850px) {
    h1 {
      font-size: 80px;
    }
    .img_opskrift {
      width: 70%;
    }
    .knapper {
      flex-direction: row;
      margin: 2rem 8rem;
    }
    .border {
      border: 1px solid var(--brun);
      width: 75%;
      margin: 3rem auto;
    }
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    a {
      font-size: 18px;
    }
    .knap_t_video {
      padding: 12px 20px;
    }
    .svg_ikoner {
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
    .indhold_med_ikoner p {
      padding: 10px;
    }

    .fremgang_div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem; /* styrer afstanden mellem kolonnerne */
      align-items: start;
      margin: 5rem 0rem;
    }
    .ingredienser_boks,
    .fremgangsmade_boks {
      margin: 0; /* fjerner ekstra luft */
      width: 100%; /* udnytter hele cellens bredde */
    }
    .ingredienser_boks {
      padding: 10px 5px 15px 25px;
      /* 25=venstre, 15=nederst, 10=øverst, 5=højre */
    }
    li {
      font-size: 18px;
    }
    .større_h2 {
      font-size: 40px;
    }
    .video_wrapper {
      margin: 2rem 0rem;
    }
    /* .alle_anmeldelser {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem; /* styrer afstanden mellem kolonnerne */
    /* align-items: start; */

    .kommentar_felt {
      max-width: 400px;
      margin: 0 auto 4rem auto;
    }
    .navne_anmeldelser {
      font-size: 20px;
    }

    /* ILLUSTRATIONER DESKTOP */
    .intro_section {
      background-position:
        left -0% bottom 10%,
        right -5% top 0%;
      background-size: 150px, 280px;
    }
    .fremgang_section {
      background-position:
        left -0% bottom -10%,
        right -2% top 0%;

      background-size: 100px, 150px;
    }
    #video_section {
      background-position: 100% 0%;
      background-size: 150px;
    }
    .anmeldelser_section {
      background-position: 0% 60%;
      background-size: 90px;
    }
    .kommentar_section {
      background-position:
        right -1% bottom 100%,
        left 0% bottom 40%,
        right -5% bottom 10%;

      background-size: 150px, 250px, 250px;
    }
    /* ILLUSTRATIONER DESKTOP SLUT */
  }
</style>
